$ff-capriola: 'Capriola', sans-serif;

header{
    background-image: linear-gradient( 0.1deg, rgba(228,228,228,1) 9.3%, rgba(179,179,179,1) 94.2% ); 
    
}

.nav__menu-div{
    display: flex;
    flex-direction: row;
    padding: 20px; 
    justify-content: space-around;
    align-items: center;
}

.nav__menu-div div{
    display: flex;
    margin: 20px;
    padding: 0px;
    width: 100px;
}
.nav__menu-div a{
    font-family: $ff-capriola;
    text-decoration: none;
    color: white;
    font-size: 26px;
    text-shadow: 2px 2px 4px black;
    transition: all 0.4 linear;
    border-radius: 5px;
}
.nav__menu-div a:hover{
    background-color: rgb(243, 243, 242);
}


h2 {
    font-size: 26px;
    font-family: $ff-capriola;
    padding: 20px;
    margin: 50px;
    text-shadow: 2px 2px 4px rgb(117, 104, 104);
}
.texto {
    padding: 10px;
    margin: 5px;
}
.texto p{
    font-size: 18px;
}



footer{
    background-color: black;
    
}

.footer__devolucion {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.footer__devolucion--nav div{
    padding: 10px;
}
.footer__devolucion--nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 4px black;
    font-family: $ff-capriola;
}

.footer__devolucion--menu p,a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 4px white;
    font-family: $ff-capriola;
}
.footer__menu-redes {

}
.footer__menu-redes p{
    color: white;
    font-size: 20px;
    font-family: $ff-capriola;

}